/*------------------------Lightbox-----------------------------*/
#lightbox {display:none;background-image:url(../img/bcg.png); position:absolute; top:0;left:0;z-index:5000;overflow:auto; bottom:0; right:0}
.lightbox-panel {position:absolute; top:100px; left:50%; margin-left:-300px; width:600px; background:#FFFFFF; padding:10px 15px 10px 15px; z-index:1001; margin-bottom:60px}
.transparencia{display:none;}
iframe{height:338px; width:600px;}
.close{color:#c32030}